<div class="modular-row bottom {{ page.header.class }}">
    {{ content|raw }}
    {% for button in page.header.buttons %}
    <a class="button{% if button.primary %} primary{% endif %}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}
    {% if page.header.class == 'borderbottom' %}
    <hr>
    {% endif %}
    {% if page.header.services %}
    <div class="services">
        {% for service in page.header.services %}
        <div class="service">
            <i class="fa fa-{{ service.icon }}"></i>
            <h4>{{ service.title }}</h4>
            <p>{{ service.desc }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
