<div class="modular-row team">
    {{ content|raw }}
    <div class="members">
        {% for member in page.header.members %}
        <div class="member">
            <img src="{{page.media[member.image].url}}" alt="">
            <h4>{{ member.name }}</h4>
            <span>{{ member.title }}</span>
            <hr>
            <p>{{ member.info }}</p>
            <ul class="social-icons">
                <li>
                    <a href="{{ member.social_twitter }}">
                        <i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="{{ member.social_facebook }}">
                        <i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="{{ member.social_feed }}">
                        <i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="callout-line"></div>
</div>
